html, body {
  font-size: 16px;
  font-family: 'PingFang TC', 'Heiti TC', '微軟正黑體', sans-serif;
}

body {
  height: 100%;
  width: 100%;
  background-color: #cfe7ee;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  margin: 100px auto;
  padding: 20px;
  border-radius: 5px;
  width: 100%;
  max-width: 600px;
  background: #afd2ea;
}
@media screen and (max-width: 576px) {
  .wrapper {
    margin: 10px;
  }
}


.checkbox-block {
  padding-left: 0;
  margin-bottom: 10px;
  line-height: 2rem;
}
.todo-list {
  padding-left: 0;
}
.todo-list__item {
  list-style: none;
}
.todo-item {
  padding: 10px 10px;
  word-wrap: break-word;
  background-color: #ffffff;
  margin-bottom: 7px;
  border-radius: 5px;
}